[submodule "backend/template-goalstats-service"]
	path = backend/template-goalstats-service
	url = git@github.com:WestiferRobin/template-goalstats-service.git

[submodule "backend/goalstats-user-service"]
	path = backend/goalstats-user-service
	url = git@github.com:WestiferRobin/goalstats-user-service.git

[submodule "frontend/goal-stats-app"]
	path = frontend/goal-stats-app
	url = git@github.com:WestiferRobin/goal-stats-app.git

[submodule "frontend/RoadToTheFinal"]
	path = frontend/RoadToTheFinal
	url = git@github.com:Estebansito1/RoadToTheFinal.git

[submodule "docs/goal-stats-wiki"]
	path = docs/goal-stats-wiki
	url = git@github.com:WestiferRobin/goal-stats-wiki.git
